/* You can add global styles to this file, and also import other style files */
@import './mat-theme.scss';

// ###### Important ######
// For StackBlitz use : @import url('mat-theme.scss');

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
